*{
    margin: 0;
}


.json-data{
    display: grid;
    grid-template-columns: 1fr 1fr 1.3fr 1fr;
    margin: 5% 5% 0 5%;
    border-bottom: solid black 1px;


}
.Maintitle{
    font-size: 2em;
    font-weight: 300;
    padding-top: 5%;
}

.json-data-single{
    padding: auto;
    text-align: left;
    font-size: 1.3em;
    font-weight: 300;

}
