<!----Nav Bar-->

<div class='header'>
    
  <a class="Name" href="/">VISIONET SYSTEMS</a>


      <div class='options'>
              <a class='option' href="/">
              MAIN
              </a>
              <a class='option' href="faq ">
              FAQ
             </a>
      </div>   
</div>
<!----Nav Bar Ends-->
<div class="MainDiv">
  <h1 class="Maintitle">Data Lookup</h1>
  <h3>Transaction Details </h3>


      
</div>
<div class="DataGrid">
<jqxGrid #myGrid
    [width]="1300" [height]="505" [source]="MainDataAdapter" [columns]="columns" 
    [rowdetails]="true" [rowsheight]="45" [initrowdetails]="initRowDetails"
    [ready]="ready" [rowdetailstemplate]="rowdetailstemplate">
</jqxGrid>
</div>
<router-outlet></router-outlet>



<!----Footer -->

<div class='Bottom'>
  
  <p> VISIONET &#174;</p>    

</div>
<!----Footer Ends-->

